/* atkinson-hyperlegible-latin-400-normal */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/atkinson-hyperlegible-latin-400.woff2') format('woff2');
}
/* atkinson-hyperlegible-latin-400-italic */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/atkinson-hyperlegible-latin-400-italic.woff2') format('woff2');
}
/* atkinson-hyperlegible-latin-700-normal */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('fonts/atkinson-hyperlegible-latin-700.woff2') format('woff2');
}
/* atkinson-hyperlegible-latin-700-italic */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('fonts/atkinson-hyperlegible-latin-700-italic.woff2') format('woff2');
}
/* opendyslexic-latin-400-normal */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/opendyslexic-latin-400.woff2') format('woff2');
}
/* opendyslexic-latin-400-italic */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/opendyslexic-latin-400-italic.woff2') format('woff2');
}
/* opendyslexic-latin-700-normal */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('fonts/opendyslexic-latin-700.woff2') format('woff2');
}
/* opendyslexic-latin-700-italic */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('fonts/opendyslexic-latin-700-italic.woff2') format('woff2');
}
